<a href="https://colab.research.google.com/github/disakuz/Python_netbooks/blob/main/GOT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

https://drive.google.com/file/d/1BLxANjUVeEY_e-kxQZXnqJ4JFKbxWoAz/view?usp=sharing

https://drive.google.com/file/d/1u9LvgkSZF9r7LMVLiALbALRQ_FsxQvmg/view?usp=sharing

https://drive.google.com/file/d/12UjlgMxGuLiB9SEqp8zB-30L3s9W01fI/view?usp=sharing

In [2]:
!gdown --id 1BLxANjUVeEY_e-kxQZXnqJ4JFKbxWoAz

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1BLxANjUVeEY_e-kxQZXnqJ4JFKbxWoAz
To: /content/battles.csv
100% 8.55k/8.55k [00:00<00:00, 14.5MB/s]

In [3]:
!gdown --id 1u9LvgkSZF9r7LMVLiALbALRQ_FsxQvmg

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1u9LvgkSZF9r7LMVLiALbALRQ_FsxQvmg
To: /content/character-deaths.csv
100% 38.9k/38.9k [00:00<00:00, 49.6MB/s]

In [23]:
!gdown --id 12UjlgMxGuLiB9SEqp8zB-30L3s9W01fI

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=12UjlgMxGuLiB9SEqp8zB-30L3s9W01fI
To: /content/character-predictions.csv
100% 216k/216k [00:00<00:00, 89.0MB/s]

In [4]:
df_d = pd.read_csv('/content/character-deaths.csv')

In [5]:
df = pd.read_csv('/content/battles.csv')

In [6]:
df.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [7]:
len(df)

38

In [8]:
df.isna().mean()

name                  0.000000
year                  0.000000
battle_number         0.000000
attacker_king         0.052632
defender_king         0.078947
attacker_1            0.000000
attacker_2            0.736842
attacker_3            0.921053
attacker_4            0.947368
defender_1            0.026316
defender_2            0.947368
defender_3            1.000000
defender_4            1.000000
attacker_outcome      0.026316
battle_type           0.026316
major_death           0.026316
major_capture         0.026316
attacker_size         0.368421
defender_size         0.500000
attacker_commander    0.026316
defender_commander    0.263158
summer                0.026316
location              0.026316
region                0.000000
note                  0.868421
dtype: float64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                38 non-null     object
 1   year                38 non-null     int64
 2   battle_number       38 non-null     int64
 3   attacker_king       36 non-null     object
 4   defender_king       35 non-null     object
 5   attacker_1          38 non-null     object
 6   attacker_2          10 non-null     object
 7   attacker_3          3 non-null      object
 8   attacker_4          2 non-null      object
 9   defender_1          37 non-null     object
 10  defender_2          2 non-null      object
 11  defender_3          0 non-null      float64
 12  defender_4          0 non-null      float64
 13  attacker_outcome    37 non-null     object
 14  battle_type         37 non-null     object
 15  major_death         37 non-null     float64
 16  major_capture       37 non-null     float64
 17  attacker_size       24 non-null     float64
 18  defender_size       19 non-null     float64
 19  attacker_commander  37 non-null     object
 20  defender_commander  28 non-null     object
 21  summer              37 non-null     float64
 22  location            37 non-null     object
 23  region              38 non-null     object
 24  note                5 non-null      object
dtypes: float64(7), int64(2), object(16)
memory usage: 7.5+ KB

In [10]:
len(df['name'].unique())

38

In [11]:
df.groupby('attacker_king')['battle_number'].agg('count').sort_values(ascending = False)

attacker_king
Joffrey/Tommen Baratheon    14
Robb Stark                  10
Balon/Euron Greyjoy          7
Stannis Baratheon            5
Name: battle_number, dtype: int64

In [12]:
df.groupby('defender_king')['battle_number'].agg('count').sort_values(ascending = False)

defender_king
Robb Stark                  14
Joffrey/Tommen Baratheon    13
Balon/Euron Greyjoy          4
Stannis Baratheon            2
Mance Rayder                 1
Renly Baratheon              1
Name: battle_number, dtype: int64

Главные драчуны Старки и Баратеоны

In [13]:
df['attacker_size'].fillna(0,inplace=True)

In [14]:
df['defender_size'].fillna(0,inplace=True)

In [15]:
df.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,0.0,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [16]:
df.groupby('name')['attacker_size','defender_size'].sum().sort_values('attacker_size',ascending = False)

<ipython-input-16-d7f769b53b53>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('name')['attacker_size','defender_size'].sum().sort_values('attacker_size',ascending = False)

,attacker_size,defender_size
name,,
Battle of Castle Black,100000.0,1240.0
Battle of the Blackwater,21000.0,7250.0
Battle of the Fords,20000.0,10000.0
Battle of the Green Fork,18000.0,20000.0
Battle of Riverrun,15000.0,10000.0
Battle of the Golden Tooth,15000.0,4000.0
Battle of Oxcross,6000.0,10000.0
Battle of the Camps,6000.0,12625.0
Battle of the Crag,6000.0,0.0
Siege of Winterfell,5000.0,8000.0
Siege of Storm's End,5000.0,20000.0
Retaking of Deepwood Motte,4500.0,200.0
The Red Wedding,3500.0,3500.0
Battle of Duskendale,3000.0,0.0
Siege of Riverrun,3000.0,0.0
Siege of Dragonstone,2000.0,0.0
Battle of the Whispering Wood,1875.0,6000.0
Siege of Raventree,1500.0,0.0
Battle of Deepwood Motte,1000.0,0.0
Sack of Winterfell,618.0,2000.0
Battle of the Stony Shore,264.0,0.0
Battle of Torrhen's Square,244.0,900.0
Sack of Harrenhal,100.0,100.0
Battle of Winterfell,20.0,0.0
Battle of the Shield Islands,0.0,0.0
Second Seige of Storm's End,0.0,200.0
Battle of Moat Cailin,0.0,0.0
Siege of Seagard,0.0,0.0
Siege of Darry,0.0,0.0
Sack of Torrhen's Square,0.0,0.0
Sack of Saltpans,0.0,0.0
Sack of Darry,0.0,0.0
Retaking of Harrenhal,0.0,0.0
Battle of the Burning Septry,0.0,0.0
"Invasion of Ryamsport, Vinetown, and Starfish Harbor",0.0,0.0
Fall of Moat Cailin,0.0,0.0
Battle of the Ruby Ford,0.0,6000.0
Battle at the Mummer's Ford,0.0,120.0

Battle of Castle Black самая групномасштабная битва, в которой было больше всего нападающих

In [17]:
df['sum_solders'] = df['attacker_size'] + df['defender_size']

In [18]:
df.groupby('name')['sum_solders'].sum().sort_values(ascending = False)

name
Battle of Castle Black                                  101240.0
Battle of the Green Fork                                 38000.0
Battle of the Fords                                      30000.0
Battle of the Blackwater                                 28250.0
Siege of Storm's End                                     25000.0
Battle of Riverrun                                       25000.0
Battle of the Golden Tooth                               19000.0
Battle of the Camps                                      18625.0
Battle of Oxcross                                        16000.0
Siege of Winterfell                                      13000.0
Battle of the Whispering Wood                             7875.0
The Red Wedding                                           7000.0
Battle of the Crag                                        6000.0
Battle of the Ruby Ford                                   6000.0
Retaking of Deepwood Motte                                4700.0
Battle of Duskendale                                      3000.0
Siege of Riverrun                                         3000.0
Sack of Winterfell                                        2618.0
Siege of Dragonstone                                      2000.0
Siege of Raventree                                        1500.0
Battle of Torrhen's Square                                1144.0
Battle of Deepwood Motte                                  1000.0
Battle of the Stony Shore                                  264.0
Second Seige of Storm's End                                200.0
Sack of Harrenhal                                          200.0
Battle at the Mummer's Ford                                120.0
Battle of Winterfell                                        20.0
Battle of the Burning Septry                                 0.0
Sack of Saltpans                                             0.0
Sack of Torrhen's Square                                     0.0
Sack of Darry                                                0.0
Retaking of Harrenhal                                        0.0
Siege of Darry                                               0.0
Invasion of Ryamsport, Vinetown, and Starfish Harbor         0.0
Fall of Moat Cailin                                          0.0
Battle of Moat Cailin                                        0.0
Siege of Seagard                                             0.0
Battle of the Shield Islands                                 0.0
Name: sum_solders, dtype: float64

In [19]:
df.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note,sum_solders
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN,19000.0
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,0.0,0.0,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN,120.0
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN,25000.0
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN,38000.0
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN,7875.0

In [20]:
df.fillna('no_info', inplace = True)

In [21]:
df.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note,sum_solders
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,no_info,no_info,no_info,Tully,...,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,no_info,19000.0
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,no_info,no_info,no_info,Baratheon,...,0.0,0.0,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,no_info,120.0
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,no_info,no_info,no_info,Tully,...,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,no_info,25000.0
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,no_info,no_info,no_info,Lannister,...,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,no_info,38000.0
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,no_info,no_info,Lannister,...,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,no_info,7875.0

In [22]:
df_d.head()

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0

In [27]:
df.groupby('year',as_index=False).sum()

   year  battle_number  attacker_size  defender_size  sum_solders
0   298             28        55875.0        52745.0     108620.0
1   299            350        66746.0        59750.0     126496.0
2   300            363       116000.0         9640.0     125640.0

In [31]:
df.loc[df['battle_number'] == 28]

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note,sum_solders
27,Battle of Castle Black,300,28,Stannis Baratheon,Mance Rayder,Free folk,Thenns,Giants,no_info,Night's Watch,...,1.0,100000.0,1240.0,"Mance Rayder, Tormund Giantsbane, Harma Dogshe...","Stannis Baratheon, Jon Snow, Donal Noye, Cotte...",0.0,Castle Black,Beyond the Wall,no_info,101240.0

In [24]:
df_p = pd.read_csv('/content/character-predictions.csv')

In [25]:
df_p.head()

,S.No,actual,pred,alive,plod,name,title,male,culture,dateOfBirth,...,isAliveHeir,isAliveSpouse,isMarried,isNoble,age,numDeadRelations,boolDeadRelations,isPopular,popularity,isAlive
0,1,0,0,0.054,0.946,Viserys II Targaryen,NaN,1,NaN,NaN,...,0.0,NaN,0,0,NaN,11,1,1,0.605351,0
1,2,1,0,0.387,0.613,Walder Frey,Lord of the Crossing,1,Rivermen,208.0,...,NaN,1.0,1,1,97.0,1,1,1,0.896321,1
2,3,1,0,0.493,0.507,Addison Hill,Ser,1,NaN,NaN,...,NaN,NaN,0,1,NaN,0,0,0,0.267559,1
3,4,0,0,0.076,0.924,Aemma Arryn,Queen,0,NaN,82.0,...,NaN,0.0,1,1,23.0,0,0,0,0.183946,0
4,5,1,1,0.617,0.383,Sylva Santagar,Greenstone,0,Dornish,276.0,...,NaN,1.0,1,1,29.0,0,0,0,0.043478,1